@import "./variables";
@import "./navigation";
@import "./gallery";
@import "./breeds";
@import "./register";
.container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Avenir";
}

.Toastify__toast-body {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.row {
  margin: 4rem 20px;
}

.overlay::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    transparent 0%,
    transparent 18%,
    rgba(0, 0, 0, 0.8) 99%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.spinner--container {
  display: flex;
  justify-content: center;
  align-content: center;
  .loader--image {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: 500px;
    height: 250px;
  }
}
