.breeds {
  display: grid;
  margin: 20px 0;
  .empty-array {
    font-family: monospace;
    position: absolute;
    font-size: 30px;
    color: $category-light-five;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .breed-info-wrapper {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin-bottom: 30px;
    gap: 20px;

    .info--image {
      grid-area: info--image;
      position: relative;
      button {
        z-index: 10;
        background-color: transparent;
        border: none;
        outline: none;
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
      .icon {
        color: "#000000";
        cursor: pointer;
      }
      .icon:hover {
        color: $category-light-seven;
      }

      img {
        height: 500px;
        width: 100%;
        object-fit: cover;
      }
    }
    .info--stats {
      grid-area: info--stats;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .text--section {
        padding: 20px;
        h1,
        h4 {
          margin: 0;
        }
        h1 {
          margin-bottom: 10px;
          span {
            color: $container-dark-color;
          }
        }
        h4 {
          text-align: justify;
        }
        a {
          text-decoration: none;
          color: $category-dark-three;
        }
      }

      .progess--bars {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .progress--child {
          p {
            margin: 0;
            text-transform: uppercase;
            font-family: monospace;
            color: $container-dark-color;
          }
        }
        .progress--child:nth-child(1) {
          progress {
            transition: linear 0.5s ease-in-out;
            height: 20px;
            background: $category-light-one;
          }
          progress::-webkit-progress-value {
            background: $category-light-one;
          }
        }
        .progress--child:nth-child(2) {
          progress {
            transition: linear 0.5s ease-in-out;
            height: 20px;
            background: $category-light-two;
          }
          progress::-webkit-progress-value {
            background: $category-light-two;
          }
        }
        .progress--child:nth-child(3) {
          progress {
            transition: linear 0.5s ease-in-out;
            height: 20px;
            background: $category-light-three;
          }
          progress::-webkit-progress-value {
            background: $category-light-three;
          }
        }
        .progress--child:nth-child(4) {
          progress {
            transition: linear 0.5s ease-in-out;
            height: 20px;
            background: $category-light-four;
          }
          progress::-webkit-progress-value {
            background: $category-light-five;
          }
        }
        .progress--child:nth-child(5) {
          progress {
            transition: linear 0.5s ease-in-out;
            height: 20px;
            background: $category-light-six;
          }
          progress::-webkit-progress-value {
            background: $category-light-six;
          }
        }
        .progress--child:nth-child(6) {
          progress {
            transition: linear 0.5s ease-in-out;
            height: 20px;
            background: $category-light-eight;
          }
          progress::-webkit-progress-value {
            background: $category-light-eight;
          }
        }
      }
    }
  }
  .pagination {
    display: flex;
    justify-content: space-between;
    button {
      border: none;
      border-radius: 30px;
      outline: none;
      background: $container-light-color;
      padding: 10px 30px;
    }
    button:hover {
      color: "#f5f5f5";
      background-color: $container-dark-color;
    }
    .indicator {
      font-size: 30px;
      font-family: $navigation-link-font;
    }
  }
}

// @media (max-width: 900px) {
//   .breed-info-wrapper {
//     display: none;
//     grid-template-columns: repeat(auto-fill, 1fr);
//     grid-auto-rows: minmax(50, auto);
//     margin-bottom: 30px;
//     gap: 20px;
//     grid-template-areas:
//       "info--image info--stats"
//       "info--image info--stats";
//   }
// }

@media (max-width: 830px) {
  .breed-info-wrapper {
    display: none;
    margin-bottom: 30px;
    gap: 20px;
    grid-template-areas:
      "info--image info--image"
      "info--stats info--stats";
  }
}

@media (min-width: 830px) {
  .breed-info-wrapper {
    display: none;
    margin-bottom: 30px;
    gap: 20px;
    grid-template-areas:
      "info--image  info--stats"
      "info--image info--stats";
  }
}
